* { box-sizing: inherit }


html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}


.page {
    display: flex;
    width: 20.95cm;
    height: 29.7cm; /* alternatively: 21*29.75 */
    margin: 0 auto;
    background-color: white;
}

@media screen {
    .page {
        margin-top: 64px;
        box-shadow: 0 0 16px 0px gray;
    }
}


.page-body {
    width: 17cm;
    height: 27cm;
    margin: auto;
    font-family: Garamond, Cambria, Times, 'Times New Roman', Cochin, monospace;
    font-size: 18pt;
}

@media screen {
    .page-body {
        border: 1px dotted black;
    }
}


.page-body h1 {
    text-align: center;
    margin: 12px 0;
}


.page-body p {
    margin: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 1em;
    line-height: 22pt;
}

.page-body p + p {
    margin-top: 0.5em;
}
