* { box-sizing: inherit }


html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


.page {
    display: flex;
    width: 20.95cm;
    height: 29.7cm; /* alternatively: 21*29.75 */
    margin: 0 auto;
    background-color: white;
}

@media screen {
    body {
        background-color: rgb(223, 223, 223);
    }
    .page {
        margin-top: 64px;
        box-shadow: 0 0 16px 0px gray;
    }
}


.page-body {
    width: 17cm;
    height: 27cm;
    margin: auto;
    font-family: Garamond;
}

@media screen {
    .page-body {
        border: 1px dotted black;
    }
}


.page-body h2 {
    text-align: center;
    margin: 0;
    margin-top: 95pt;
    margin-bottom: 72pt;
    padding: 0;
    font-size: 38pt;
}


.page-body p {
    margin: 0;
    text-align: justify;
    text-align-last: left;
    text-indent: 16pt;
    line-height: 22pt;
    font-size: 18pt;
    /* text-justify: distribute; */
}


.page-body p.transition {
    text-indent: 0;
}


.page-body p + p {
    margin-top: 0pt;
}
