/**
    Control UI for render options
*/

@media print {
    .render-options { display: none }
}

.render-options {
    position: fixed; top: 10px; left: 10px;
    width: 360px;
    background-color: white;
    border: solid 1px black;
    padding: 16px 24px;
    box-shadow: 0 0 16px 0px gray;
    font-family: 'DejaVu Sans Mono';
}

.render-options * {
    font-family: monospace, 'DejaVu Sans Mono';
    font-size: 14pt;
    text-align: center;
}

.render-options h2 {
    margin-top: 10pt;
    margin-bottom: 16pt;
}

.render-options fieldset {
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    margin-bottom: 6px;
    padding: 10px 16px;
}

.render-options fieldset legend {
    padding: 2px 12px;
}

.render-options input[type="number"] {
    text-align: right;
    min-width: 64px;
}


.render-options .multi-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.render-options .multi-options-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.render-options .multi-options-column * {
    margin-bottom: 2px;
}
